@page
@model EventSchedulePro.Pages.IPOModel
@{
}
<h3>In-Person Orientation (IPO)</h3>
<span class="instructure_file_holder link_holder instructure_file_link_holder ally-file-link-holder">
    <a class="inline_disabled preview_in_overlay" title="IPO - FINAL - Staff Schedule Spring 2024-1.pdf" href="https://greenriver.instructure.com/courses/1461746/files/244954499?wrap=1" target="_blank" data-canvas-previewable="false" data-api-endpoint="https://greenriver.instructure.com/api/v1/courses/1461746/files/244954499" data-api-returntype="File" data-id="244954499">Spring 2024 Staff Schedule</a><a class="file_download_btn" role="button" download="" style="margin-inline-start: 5px; text-decoration: none;" href="https://greenriver.instructure.com/courses/1461746/files/244954499/download?download_frd=1" data-id="244954499">
        <span role="presentation">
            <svg viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" style="width:1em; height:1em; vertical-align:middle; fill:currentColor">
                <path d="m1807.093 1482.477 79.736 79.963-355.313 355.312H355.346L.035 1562.44l79.85-79.963 322.22 322.334H1484.76l322.334-322.334ZM997.677-.033v1167.02l355.313-355.313 79.962 79.85-491.858 491.633L449.46 891.524l79.962-79.85 355.313 355.313V-.033h112.941Z" fill-rule="evenodd"></path>
            </svg>
        </span>
    </a>
</span>
<br/>
<a title="IPO Online Services" href="https://greenriver.instructure.com/courses/1461746/pages/ipo-online-services" data-course-type="wikiPages" data-published="true" data-api-endpoint="https://greenriver.instructure.com/api/v1/courses/1461746/pages/ipo-online-services" data-api-returntype="Page">Online Services</a>
<br/>
<a title="IPO Campus Tours" href="https://greenriver.instructure.com/courses/1461746/pages/ipo-campus-tours" data-course-type="wikiPages" data-published="true" data-api-endpoint="https://greenriver.instructure.com/api/v1/courses/1461746/pages/ipo-campus-tours" data-api-returntype="Page">Campus Tour Routes</a>
<br/>
<img src="https://greenriver.instructure.com/courses/1461746/files/244973432/preview" alt="Adventure Trip Info.jpg" width="317" height="528" data-api-endpoint="https://greenriver.instructure.com/api/v1/courses/1461746/files/244973432" data-api-returntype="File" data-id="244973432">