@page
@model EventSchedulePro.Pages.VOModel
@{
}
 <div class="row">
    <h1 class="page-title">Virtual Orientation (VO)</h1>
  
  
  
    <p>You are attending virtual orientation (VO) as a current GRC student and Student Leader to help us provide a warm virtual welcome to new students.&nbsp; You may be assigned to present content, monitor chat and will be hosting a Peer Mentor breakout room.&nbsp; You all are expected to be "present" and available during VO to:</p>
<ul>
<li>Answer questions</li>
<li>Translate if necessary</li>
<li>Interact and socialize as needed</li>
</ul>
<p>The Virtual Orientation Zoom Meeting link is <a class="inline_disabled" title="Link" target="_blank">https://zoom.us/j/93301854252</a> and make sure you have <span style="text-decoration: underline;"><strong>read/understand the following</strong></span> PRIOR to the day of VO!</p>
<ol style="list-style-type: decimal;">
<li>You should have access to the <a class="inline_disabled external" title="Link" href="https://teams.microsoft.com/l/team/19%3aZQzCahzQfTSPJGrb7vP05ONgWnnoBDUC372enp5N9DI1%40thread.tacv2/conversations?groupId=28248c84-9cbe-4f66-a1bd-593e88b8c0bf&amp;tenantId=fa40663e-9727-4978-9bce-776cf824bca5" target="_blank" rel="noreferrer noopener"><span>IP Orientation for New Students - Real Time Chat</span><span class="external_link_icon" style="margin-inline-start: 5px; display: inline-block; text-indent: initial; " role="presentation"><svg viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" style="width:1em; height:1em; vertical-align:middle; fill:currentColor">
    <path d="M1226.667 267c88.213 0 160 71.787 160 160v426.667H1280v-160H106.667v800C106.667 1523 130.56 1547 160 1547h1066.667c29.44 0 53.333-24 53.333-53.333v-213.334h106.667v213.334c0 88.213-71.787 160-160 160H160c-88.213 0-160-71.787-160-160V427c0-88.213 71.787-160 160-160Zm357.706 442.293 320 320c20.8 20.8 20.8 54.614 0 75.414l-320 320-75.413-75.414 228.907-228.906H906.613V1013.72h831.254L1508.96 784.707l75.413-75.414Zm-357.706-335.626H160c-29.44 0-53.333 24-53.333 53.333v160H1280V427c0-29.333-23.893-53.333-53.333-53.333Z" fill-rule="evenodd"></path>
</svg>
<span class="screenreader-only">Links to an external site.</span></span></a> Group in MS Teams.&nbsp; If you don't, request access and <a class="inline_disabled" href="mailto:tturner@greenriver.edu" target="_blank">Toya Turner</a> will accept the request (or just send Toya an email)
<ul style="list-style-type: disc;">
<li>The&nbsp; <a class="inline_disabled external" style="font-family: inherit; font-size: 1rem;" title="Link" href="https://teams.microsoft.com/l/team/19%3aZQzCahzQfTSPJGrb7vP05ONgWnnoBDUC372enp5N9DI1%40thread.tacv2/conversations?groupId=28248c84-9cbe-4f66-a1bd-593e88b8c0bf&amp;tenantId=fa40663e-9727-4978-9bce-776cf824bca5" target="_blank" rel="noreferrer noopener"><span>IP Orientation for New Students - Real Time Chat</span><span class="external_link_icon" style="margin-inline-start: 5px; display: inline-block; text-indent: initial; " role="presentation"><svg viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" style="width:1em; height:1em; vertical-align:middle; fill:currentColor">
    <path d="M1226.667 267c88.213 0 160 71.787 160 160v426.667H1280v-160H106.667v800C106.667 1523 130.56 1547 160 1547h1066.667c29.44 0 53.333-24 53.333-53.333v-213.334h106.667v213.334c0 88.213-71.787 160-160 160H160c-88.213 0-160-71.787-160-160V427c0-88.213 71.787-160 160-160Zm357.706 442.293 320 320c20.8 20.8 20.8 54.614 0 75.414l-320 320-75.413-75.414 228.907-228.906H906.613V1013.72h831.254L1508.96 784.707l75.413-75.414Zm-357.706-335.626H160c-29.44 0-53.333 24-53.333 53.333v160H1280V427c0-29.333-23.893-53.333-53.333-53.333Z" fill-rule="evenodd"></path>
</svg>
<span class="screenreader-only">Links to an external site.</span></span></a><span style="color: var(--ic-brand-font-color-dark); font-family: inherit; font-size: 1rem;"> Group is the central hub for all staff and student leaders during Virtual Orientation (VO). </span><span style="color: var(--ic-brand-font-color-dark); font-family: inherit; font-size: 1rem;">Under files, you will always find the most current schedule</span></li>
<li>You are expected to follow the Teams chat.&nbsp; Staff will use the teams chat to communicate with you and will do so by tagging you, so be alert.&nbsp;</li>
<li>Use tags when you post in the group to get someone's attention.&nbsp; Example - a student is messaging you for help and you need someone to help you, use @@<span style="color: var(--ic-brand-font-color-dark); font-family: inherit; font-size: 1rem;" data-itemprops="{&quot;mri&quot;:&quot;19:ZQzCahzQfTSPJGrb7vP05ONgWnnoBDUC372enp5N9DI1@thread.tacv2&quot;,&quot;mentionType&quot;:&quot;team&quot;,&quot;memberCount&quot;:62}">IP Orientation for New Students - REAL TIME CHAT! and everyone in the group will get a ping.&nbsp; Just need an advisor to help with a student, use @@Advisors and all the advisors will get the ping.</span></li>
<li><strong>Communicate via Teams chat during virtual orientation, do <span style="text-decoration: underline;">NOT</span> use the zoom chat to communicate with staff.&nbsp;&nbsp;<br><br></strong></li>
</ul>
</li>
<li>Zoom Names!&nbsp; Y<strong>our zoom name needs to be changed PRIOR to entering the waiting room.&nbsp; </strong>Please look at the VO Staff Schedule to see how your name was entered on the schedule.&nbsp; Add "PM" to how your name was entered on the schedule (minus the country information).&nbsp; For example, if your name was entered to the schedule as "Toya (Ray) Turner-United States, your zoom name should be "PM Toya (Ray) Turner" &nbsp;<strong>We need a way to identify you from a new student, so it is very important your zoon name is updated PRIOR to entering the waiting room.<br></strong><strong></strong><strong></strong><strong></strong><strong><br></strong></li>
<li>During staff introductions at the start of each session, you only need to share your name, where you're from and that you're a Peer Mentor. If you can, repeat in your native tongue (or other languages you can speak), this is especially important for IEP sessions! Also enter this message in your native tongue into the Zoom chat: <strong>"If you need help, you can contact me!"</strong></li>
</ol>
  <hr/>

    <h1 class="page-title">VO Assigned Duties</h1>



    <ul>
        <li>Monitoring Chat - This means you need to monitor the zoom chat during a specific presentation and if a student asks a question, you need to let the presenter know.&nbsp; &nbsp;</li>
        <li>
            Getting Involved on Campus -&nbsp;
            <ul>
                <li>Slide number<br>1: <strong>Lauren</strong><br>2-3: <strong>Peter</strong><br>4-5:&nbsp;<strong>Sapphryn (AM) /</strong> <strong>Clara (PM)</strong><br>6: <strong>Aiden</strong><br>7: <strong>Kamilla</strong><br>8: <strong>Mohammed</strong><br>9: <strong>Nicholas</strong><br>10-12: <strong>Cindy</strong><br>13: <strong>Myat</strong><br>14: <strong>Aiden</strong><br>15-16: <strong>Gideon<br><br></strong></li>
            </ul>
        </li>
        <li>Meet Your Advisor Session -&nbsp;<br><br></li>
        <li>
            Peer Mentor Breakout Rooms -&nbsp;
            <ul>
                <li><a title="VO Mentor Breakout Rooms" href="https://greenriver.instructure.com/courses/1461746/pages/vo-ice-breaker-slash-conversation-starter-examples" data-course-type="wikiPages" data-published="false" data-api-endpoint="https://greenriver.instructure.com/api/v1/courses/1461746/pages/vo-ice-breaker-slash-conversation-starter-examples" data-api-returntype="Page">Ice Breaker / Conversation Starter Examples</a></li>
            </ul>
        </li>
    </ul>
    <p>&nbsp;</p>

<hr/>


    <h1 class="page-title">VO Ice Breaker/Conversation Starter Examples</h1>



    <p>&nbsp;</p>
    <p>To help keep conversations going in your breakout rooms, please prepare some icebreaker questions ahead of time and use them if you notice nobody else is talking.</p>
    <ol>
        <li>Avoid close-ended questions.</li>
        <li>You can give your own answer, which can be helpful in getting new students to understand the question better.</li>
        <li>
            Some example questions can include:
            <ol>
                <li>Is there anything you guys want to try when you get here? (follow-up: When I first came here, I wanted to visit Pike Place Market and the first Starbucks.)</li>
                <li>What is your major? (follow-up: My major is computer science and I've been studying it for 3 years.)</li>
                <li>Do you have any hobbies? (follow-up: I like to go hiking, and there are a lot of trails around GRC!)</li>
                <li>
                    Other examples:
                    <ol>
                        <li>Where is everybody from? &nbsp; &nbsp;</li>
                        <li>What does everyone want to know about GRC? &nbsp; &nbsp;</li>
                        <li>What questions can we answer? &nbsp; &nbsp; &nbsp;</li>
                        <li>Best movie you have seen so far this year?</li>
                        <li>Sharing an item or picture of something they like to do</li>
                        <li>What do they think America will be like?</li>
                        <li>What types of things are they interested to learn about?</li>
                        <li>Showing pets to the camera</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>

</div> 